<a href="https://colab.research.google.com/github/Marcelooyola/DiplomaturaUDA/blob/main/eda_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BA/blob/main/dba.png?raw=true)

## **Análisis Exploratorio de los Datos**

**En este cuaderno colab se realizaran algunas tareas de preprocesamiento de los datos...**

## **Carga de módulos**

### **Para análisis de los datos**

In [1]:
import pandas as pd
import numpy as np

### **Para preprocesamiento de los datos**

In [3]:
#Codifciacion de variables categoricas
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [4]:
#Escalado de variables numericas
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

## **Carga de Datos**

In [7]:
url = "https://raw.githubusercontent.com/LucaAPiattelli/Diplomatura_Business_Analytics_UDA/main/Modulo_08_Aprendizaje_Automatico/visualizacion.csv"

In [8]:
analisis = pd.read_csv(url)
analisis.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

**Se cambian los nombres de las columnas para mejor interpretacion...**

In [9]:
analisis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [10]:
analisis.rename(columns={"satisfaction_level":"niveldesatisfaccion",
                         "last_evaluation":"ultimaevaluacion",
                         "number_project":"numerosdeproyectos",
                         "average_montly_hours":"horasmensualespromedio",
                         "time_spend_company":"tiempoenlaempresa",
                         "Work_accident":"accidentedetrabajo",
                         "left":"abandono",
                         "promotion_last_5years":"promocionultimos5años",
                         "sales":"ventas",
                         "salary":"sueldo"}, inplace= True)

In [11]:
analisis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   niveldesatisfaccion     14999 non-null  float64
 1   ultimaevaluacion        14999 non-null  float64
 2   numerosdeproyectos      14999 non-null  int64
 3   horasmensualespromedio  14999 non-null  int64
 4   tiempoenlaempresa       14999 non-null  int64
 5   accidentedetrabajo      14999 non-null  int64
 6   abandono                14999 non-null  int64
 7   promocionultimos5años   14999 non-null  int64
 8   ventas                  14999 non-null  object
 9   sueldo                  14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [12]:
analisis.head()

,niveldesatisfaccion,ultimaevaluacion,numerosdeproyectos,horasmensualespromedio,tiempoenlaempresa,accidentedetrabajo,abandono,promocionultimos5años,ventas,sueldo
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [13]:
analisis.ventas.value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: ventas, dtype: int64

In [14]:
analisis.ventas.unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [15]:
analisis.rename(columns={'ventas':'departamento'}, inplace = True)

analisis.head()

,niveldesatisfaccion,ultimaevaluacion,numerosdeproyectos,horasmensualespromedio,tiempoenlaempresa,accidentedetrabajo,abandono,promocionultimos5años,departamento,sueldo
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [16]:
analisis.filter(['departamento', 'sueldo'])

      departamento  sueldo
0            sales     low
1            sales  medium
2            sales  medium
3            sales     low
4            sales     low
...            ...     ...
14994      support     low
14995      support     low
14996      support     low
14997      support     low
14998      support     low

[14999 rows x 2 columns]

In [17]:
#loc = le debo pasar el nombre de la columna
analisis.loc[:,'departamento']

0          sales
1          sales
2          sales
3          sales
4          sales
          ...
14994    support
14995    support
14996    support
14997    support
14998    support
Name: departamento, Length: 14999, dtype: object

In [18]:
# iloc = le debo pasar el indice (posicion) de la columna
analisis.iloc[:,8]

0          sales
1          sales
2          sales
3          sales
4          sales
          ...
14994    support
14995    support
14996    support
14997    support
14998    support
Name: departamento, Length: 14999, dtype: object

In [21]:
analisis.filter([0,1,2,6,7,29],axis=0)

,niveldesatisfaccion,ultimaevaluacion,numerosdeproyectos,horasmensualespromedio,tiempoenlaempresa,accidentedetrabajo,abandono,promocionultimos5años,departamento,sueldo
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
29,0.38,0.50,2,132,3,0,1,0,accounting,low

In [22]:
analisis.loc[500:,:]

,niveldesatisfaccion,ultimaevaluacion,numerosdeproyectos,horasmensualespromedio,tiempoenlaempresa,accidentedetrabajo,abandono,promocionultimos5años,departamento,sueldo
500,0.91,0.84,5,265,5,0,1,0,technical,medium
501,0.66,0.57,5,161,5,0,1,0,technical,high
502,0.11,0.87,7,282,5,0,1,0,technical,low
503,0.43,0.51,2,155,3,0,1,0,technical,medium
504,0.78,0.83,4,217,6,0,1,0,support,medium
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [23]:
analisis.loc[500:700,'departamento':]

    departamento  sueldo
500    technical  medium
501    technical    high
502    technical     low
503    technical  medium
504      support  medium
..           ...     ...
696        sales    high
697        sales     low
698        sales  medium
699        sales  medium
700        sales  medium

[201 rows x 2 columns]

In [24]:
analisis.departamento=='support'

0        False
1        False
2        False
3        False
4        False
         ...
14994     True
14995     True
14996     True
14997     True
14998     True
Name: departamento, Length: 14999, dtype: bool

In [25]:
analisis[analisis.departamento == 'support']

,niveldesatisfaccion,ultimaevaluacion,numerosdeproyectos,horasmensualespromedio,tiempoenlaempresa,accidentedetrabajo,abandono,promocionultimos5años,departamento,sueldo
46,0.40,0.55,2,147,3,0,1,0,support,low
47,0.57,0.70,3,273,6,0,1,0,support,low
48,0.40,0.54,2,148,3,0,1,0,support,low
49,0.43,0.47,2,147,3,0,1,0,support,low
50,0.13,0.78,6,152,2,0,1,0,support,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

# **Limpieza y transformación de los datos**

## **Filtrado de datos**

In [ ]:
analisis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   niveldesatisfaccion     14999 non-null  float64
 1   ultimaevaluacion        14999 non-null  float64
 2   numerosdeproyectos      14999 non-null  int64
 3   horasmensualespromedio  14999 non-null  int64
 4   tiempoenlaempresa       14999 non-null  int64
 5   accidentedetrabajo      14999 non-null  int64
 6   abandono                14999 non-null  int64
 7   promocionultimos5años   14999 non-null  int64
 8   ventas                  14999 non-null  object
 9   sueldo                  14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [ ]:
analisis.head(2)

,niveldesatisfaccion,ultimaevaluacion,numerosdeproyectos,horasmensualespromedio,tiempoenlaempresa,accidentedetrabajo,abandono,promocionultimos5años,ventas,sueldo
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium

In [ ]:
analisis.rename(columns={"ventas":"sector"}, inplace=True)

In [ ]:
analisis.filter(["sector", "sueldo"])

        sector  sueldo
0        sales     low
1        sales  medium
2        sales  medium
3        sales     low
4        sales     low
...        ...     ...
14994  support     low
14995  support     low
14996  support     low
14997  support     low
14998  support     low

[14999 rows x 2 columns]

In [ ]:
analisis.sueldo

0           low
1        medium
2        medium
3           low
4           low
          ...
14994       low
14995       low
14996       low
14997       low
14998       low
Name: sueldo, Length: 14999, dtype: object

In [ ]:
analisis.filter([0,1,2,5,7,19],axis=0)

,niveldesatisfaccion,ultimaevaluacion,numerosdeproyectos,horasmensualespromedio,tiempoenlaempresa,accidentedetrabajo,abandono,promocionultimos5años,sector,sueldo
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
5,0.41,0.50,2,153,3,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
19,0.76,0.89,5,262,5,0,1,0,sales,low

In [ ]:
analisis[analisis.sector=="support"]

,niveldesatisfaccion,ultimaevaluacion,numerosdeproyectos,horasmensualespromedio,tiempoenlaempresa,accidentedetrabajo,abandono,promocionultimos5años,sector,sueldo
46,0.40,0.55,2,147,3,0,1,0,support,low
47,0.57,0.70,3,273,6,0,1,0,support,low
48,0.40,0.54,2,148,3,0,1,0,support,low
49,0.43,0.47,2,147,3,0,1,0,support,low
50,0.13,0.78,6,152,2,0,1,0,support,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

## **Valores faltantes**

In [30]:
url2 = "https://raw.githubusercontent.com/LucaAPiattelli/Diplomatura_Business_Analytics_UDA/main/Modulo_08_Aprendizaje_Automatico/empleados.csv"

In [35]:
empleados = pd.read_csv(url2)

In [36]:
empleados

             nombre  edad   sueldo sexo      sector nivel  performance
0        Alan Smith  45.0      NaN  NaN  Operations    G3          723
1      Sandro Kumar   NaN  16000.0    F     Finance    G0          520
2    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674
3      Ernesto Chin  45.0  65000.0    F       Sales    G3          556
4    Fernanda Patel  30.0  42000.0    F  Operations    G2          711
5     Samara Sharma   NaN  62000.0  NaN       Sales    G3          649
6   Joaquin Fleiman  54.0      NaN    F  Operations    G3           53
7      Juana Wilkis  54.0  52000.0    F     Finance    G3          901
8  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709

### **Eliminando los NaN**

In [29]:
empleados.dropna(how='any', axis=1) # NO HACER, BORRA TODA COLUMNA QUE TENGA AL MEN0S 1 VALOR FALTANTE

             nombre      sector nivel  performance
0        Alan Smith  Operations    G3          723
1      Sandro Kumar     Finance    G0          520
2    Jacinto Morgan     Finance    G2          674
3      Ernesto Chin       Sales    G3          556
4    Fernanda Patel  Operations    G2          711
5     Samara Sharma       Sales    G3          649
6   Joaquin Fleiman  Operations    G3           53
7      Juana Wilkis     Finance    G3          901
8  Leonardo Doberti       Sales    G4          709

In [33]:
empleados.dropna(how="any", inplace=True) #BORRA TODA FILA QUE TENGA AL MENOS UN VALOR FALTANTE

In [34]:
empleados

             nombre  edad   sueldo sexo      sector nivel  performance
2    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674
3      Ernesto Chin  45.0  65000.0    F       Sales    G3          556
4    Fernanda Patel  30.0  42000.0    F  Operations    G2          711
7      Juana Wilkis  54.0  52000.0    F     Finance    G3          901
8  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709

### **Completando los NaN**

In [42]:
empleados = pd.read_csv(url2)
empleados

             nombre  edad   sueldo sexo      sector nivel  performance
0        Alan Smith  45.0      NaN  NaN  Operations    G3          723
1      Sandro Kumar   NaN  16000.0    F     Finance    G0          520
2    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674
3      Ernesto Chin  45.0  65000.0    F       Sales    G3          556
4    Fernanda Patel  30.0  42000.0    F  Operations    G2          711
5     Samara Sharma   NaN  62000.0  NaN       Sales    G3          649
6   Joaquin Fleiman  54.0      NaN    F  Operations    G3           53
7      Juana Wilkis  54.0  52000.0    F     Finance    G3          901
8  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709

In [43]:
print(empleados.edad.mean()) #tomar el valor media de la edad
print(empleados.edad.median()) #tomar el valor mediana de la edad

40.42857142857143
45.0

In [39]:
#relleno los valores de edad faltantes con la media de edad de los valores existentes
empleados["edad"] = empleados.edad.fillna(empleados.edad.mean())
empleados

             nombre       edad   sueldo sexo      sector nivel  performance
0        Alan Smith  45.000000      NaN  NaN  Operations    G3          723
1      Sandro Kumar  40.428571  16000.0    F     Finance    G0          520
2    Jacinto Morgan  32.000000  35000.0    M     Finance    G2          674
3      Ernesto Chin  45.000000  65000.0    F       Sales    G3          556
4    Fernanda Patel  30.000000  42000.0    F  Operations    G2          711
5     Samara Sharma  40.428571  62000.0  NaN       Sales    G3          649
6   Joaquin Fleiman  54.000000      NaN    F  Operations    G3           53
7      Juana Wilkis  54.000000  52000.0    F     Finance    G3          901
8  Leonardo Doberti  23.000000  98000.0    M       Sales    G4          709

In [40]:
empleados = pd.read_csv(url2)
#relleno los valores de edad faltantes con la media de edad de los valores existentes y redondeo sin comas
empleados["edad"] = round(empleados.edad.fillna(empleados.edad.mean()),0)
empleados

             nombre  edad   sueldo sexo      sector nivel  performance
0        Alan Smith  45.0      NaN  NaN  Operations    G3          723
1      Sandro Kumar  40.0  16000.0    F     Finance    G0          520
2    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674
3      Ernesto Chin  45.0  65000.0    F       Sales    G3          556
4    Fernanda Patel  30.0  42000.0    F  Operations    G2          711
5     Samara Sharma  40.0  62000.0  NaN       Sales    G3          649
6   Joaquin Fleiman  54.0      NaN    F  Operations    G3           53
7      Juana Wilkis  54.0  52000.0    F     Finance    G3          901
8  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709

In [ ]:
empleados = pd.read_csv(url2)
empleados["edad"] = empleados.edad.fillna(empleados.edad.median())
empleados

             nombre  edad   sueldo sexo      sector nivel  performance
0        Alan Smith  45.0      NaN  NaN  Operations    G3          723
1      Sandro Kumar  45.0  16000.0    F     Finance    G0          520
2    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674
3      Ernesto Chin  45.0  65000.0    F       Sales    G3          556
4    Fernanda Patel  30.0  42000.0    F  Operations    G2          711
5     Samara Sharma  45.0  62000.0  NaN       Sales    G3          649
6   Joaquin Fleiman  54.0      NaN    F  Operations    G3           53
7      Juana Wilkis  54.0  52000.0    F     Finance    G3          901
8  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709

In [ ]:
empleados["sueldo"] = empleados.sueldo.fillna(empleados.sueldo.median())
empleados

             nombre  edad   sueldo sexo      sector nivel  performance
0        Alan Smith  45.0  52000.0  NaN  Operations    G3          723
1      Sandro Kumar  45.0  16000.0    F     Finance    G0          520
2    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674
3      Ernesto Chin  45.0  65000.0    F       Sales    G3          556
4    Fernanda Patel  30.0  42000.0    F  Operations    G2          711
5     Samara Sharma  45.0  62000.0  NaN       Sales    G3          649
6   Joaquin Fleiman  54.0  52000.0    F  Operations    G3           53
7      Juana Wilkis  54.0  52000.0    F     Finance    G3          901
8  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709

## **Codificación**

In [ ]:
empleados = pd.read_csv(url2)
empleados.dropna(how="any", inplace=True)
empleados.reset_index(drop=True, inplace=True)
empleados

             nombre  edad   sueldo sexo      sector nivel  performance
0    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674
1      Ernesto Chin  45.0  65000.0    F       Sales    G3          556
2    Fernanda Patel  30.0  42000.0    F  Operations    G2          711
3      Juana Wilkis  54.0  52000.0    F     Finance    G3          901
4  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709

In [ ]:
empleadoscodificados = pd.get_dummies(empleados["sexo"])

In [ ]:
empleadoscodificados

   F  M
0  0  1
1  1  0
2  1  0
3  1  0
4  0  1

In [ ]:
empleados = empleados.join(empleadoscodificados)

In [ ]:
empleados

             nombre  edad   sueldo sexo      sector nivel  performance  F  M
0    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674  0  1
1      Ernesto Chin  45.0  65000.0    F       Sales    G3          556  1  0
2    Fernanda Patel  30.0  42000.0    F  Operations    G2          711  1  0
3      Juana Wilkis  54.0  52000.0    F     Finance    G3          901  1  0
4  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709  0  1

**O todo en una sola linea... primero cargamos el dataframe**

In [ ]:
empleados = pd.read_csv(url2)
empleados.dropna(how="any", inplace=True)
empleados.reset_index(drop=True, inplace=True)
empleados

             nombre  edad   sueldo sexo      sector nivel  performance
0    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674
1      Ernesto Chin  45.0  65000.0    F       Sales    G3          556
2    Fernanda Patel  30.0  42000.0    F  Operations    G2          711
3      Juana Wilkis  54.0  52000.0    F     Finance    G3          901
4  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709

**Ahora si, una linea**

In [ ]:
empleados = empleados.join(pd.get_dummies(empleados["sexo"]))

In [ ]:
empleados

             nombre  edad   sueldo sexo      sector nivel  performance  F  M
0    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674  0  1
1      Ernesto Chin  45.0  65000.0    F       Sales    G3          556  1  0
2    Fernanda Patel  30.0  42000.0    F  Operations    G2          711  1  0
3      Juana Wilkis  54.0  52000.0    F     Finance    G3          901  1  0
4  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709  0  1

In [ ]:
empleados = pd.read_csv(url2)
empleados

             nombre  edad   sueldo sexo      sector nivel  performance
0        Alan Smith  45.0      NaN  NaN  Operations    G3          723
1      Sandro Kumar   NaN  16000.0    F     Finance    G0          520
2    Jacinto Morgan  32.0  35000.0    M     Finance    G2          674
3      Ernesto Chin  45.0  65000.0    F       Sales    G3          556
4    Fernanda Patel  30.0  42000.0    F  Operations    G2          711
5     Samara Sharma   NaN  62000.0  NaN       Sales    G3          649
6   Joaquin Fleiman  54.0      NaN    F  Operations    G3           53
7      Juana Wilkis  54.0  52000.0    F     Finance    G3          901
8  Leonardo Doberti  23.0  98000.0    M       Sales    G4          709

In [ ]:
etiqueta_ordenada = LabelEncoder()

In [ ]:
empleados["nivel_cod"] = etiqueta_ordenada.fit_transform(empleados["nivel"])

In [ ]:
empleados

,nombre,edad,sueldo,sexo,sector,nivel,performance,nivel_cod
0,Alan Smith,45.0,NaN,NaN,Operations,G3,723,2
1,Sandro Kumar,NaN,16000.0,F,Finance,G0,520,0
2,Jacinto Morgan,32.0,35000.0,M,Finance,G2,674,1
3,Ernesto Chin,45.0,65000.0,F,Sales,G3,556,2
4,Fernanda Patel,30.0,42000.0,F,Operations,G2,711,1
5,Samara Sharma,NaN,62000.0,NaN,Sales,G3,649,2
6,Joaquin Fleiman,54.0,NaN,F,Operations,G3,53,2
7,Juana Wilkis,54.0,52000.0,F,Finance,G3,901,2
8,Leonardo Doberti,23.0,98000.0,M,Sales,G4,709,3

## **Escalas de las características de los datos**

In [ ]:
escala = StandardScaler()

In [ ]:
escala.fit(empleados["performance"].values.reshape(-1,1))

StandardScaler()

In [ ]:
empleados["escala_perform"]=escala.transform(empleados["performance"].values.reshape(-1,1))

In [ ]:
empleados

,nombre,edad,sueldo,sexo,sector,nivel,performance,nivel_cod,escala_perform
0,Alan Smith,45.0,NaN,NaN,Operations,G3,723,2,0.505565
1,Sandro Kumar,NaN,16000.0,F,Finance,G0,520,0,-0.408053
2,Jacinto Morgan,32.0,35000.0,M,Finance,G2,674,1,0.285037
3,Ernesto Chin,45.0,65000.0,F,Sales,G3,556,2,-0.246032
4,Fernanda Patel,30.0,42000.0,F,Operations,G2,711,1,0.451558
5,Samara Sharma,NaN,62000.0,NaN,Sales,G3,649,2,0.172522
6,Joaquin Fleiman,54.0,NaN,F,Operations,G3,53,2,-2.509823
7,Juana Wilkis,54.0,52000.0,F,Finance,G3,901,2,1.306668
8,Leonardo Doberti,23.0,98000.0,M,Sales,G4,709,3,0.442557

In [ ]:
escalaminmax = MinMaxScaler()

In [ ]:
escalaminmax.fit(empleados["performance"].values.reshape(-1,1))

MinMaxScaler()

In [ ]:
empleados["escala_minmax"]=escalaminmax.transform(empleados["performance"].values.reshape(-1,1))

In [ ]:
empleados

,nombre,edad,sueldo,sexo,sector,nivel,performance,nivel_cod,escala_perform,escala_minmax
0,Alan Smith,45.0,NaN,NaN,Operations,G3,723,2,0.505565,0.790094
1,Sandro Kumar,NaN,16000.0,F,Finance,G0,520,0,-0.408053,0.550708
2,Jacinto Morgan,32.0,35000.0,M,Finance,G2,674,1,0.285037,0.732311
3,Ernesto Chin,45.0,65000.0,F,Sales,G3,556,2,-0.246032,0.593160
4,Fernanda Patel,30.0,42000.0,F,Operations,G2,711,1,0.451558,0.775943
5,Samara Sharma,NaN,62000.0,NaN,Sales,G3,649,2,0.172522,0.702830
6,Joaquin Fleiman,54.0,NaN,F,Operations,G3,53,2,-2.509823,0.000000
7,Juana Wilkis,54.0,52000.0,F,Finance,G3,901,2,1.306668,1.000000
8,Leonardo Doberti,23.0,98000.0,M,Sales,G4,709,3,0.442557,0.773585

In [ ]:
escala_robusta = RobustScaler()

In [ ]:
escala_robusta.fit(empleados["performance"].values.reshape(-1,1))

RobustScaler()

In [ ]:
empleados["escala_robusta"]=escala_robusta.transform(empleados["performance"].values.reshape(-1,1))

In [ ]:
empleados

,nombre,edad,sueldo,sexo,sector,nivel,performance,nivel_cod,escala_perform,escala_minmax,escala_robusta
0,Alan Smith,45.0,NaN,NaN,Operations,G3,723,2,0.505565,0.790094,0.316129
1,Sandro Kumar,NaN,16000.0,F,Finance,G0,520,0,-0.408053,0.550708,-0.993548
2,Jacinto Morgan,32.0,35000.0,M,Finance,G2,674,1,0.285037,0.732311,0.000000
3,Ernesto Chin,45.0,65000.0,F,Sales,G3,556,2,-0.246032,0.593160,-0.761290
4,Fernanda Patel,30.0,42000.0,F,Operations,G2,711,1,0.451558,0.775943,0.238710
5,Samara Sharma,NaN,62000.0,NaN,Sales,G3,649,2,0.172522,0.702830,-0.161290
6,Joaquin Fleiman,54.0,NaN,F,Operations,G3,53,2,-2.509823,0.000000,-4.006452
7,Juana Wilkis,54.0,52000.0,F,Finance,G3,901,2,1.306668,1.000000,1.464516
8,Leonardo Doberti,23.0,98000.0,M,Sales,G4,709,3,0.442557,0.773585,0.225806

## **Transformación de las características de los datos**

In [ ]:
empleados = pd.read_csv(url2)

In [ ]:
def grado_performance(performance):
    if performance >= 700:
        return "A"
    elif performance < 700 and performance >= 500:
        return "B"
    else:
        return "C"

In [ ]:
empleados["grado_performance"] = empleados.performance.apply(grado_performance)

In [ ]:
empleados

,nombre,edad,sueldo,sexo,sector,nivel,performance,grado_performance
0,Alan Smith,45.0,NaN,NaN,Operations,G3,723,A
1,Sandro Kumar,NaN,16000.0,F,Finance,G0,520,B
2,Jacinto Morgan,32.0,35000.0,M,Finance,G2,674,B
3,Ernesto Chin,45.0,65000.0,F,Sales,G3,556,B
4,Fernanda Patel,30.0,42000.0,F,Operations,G2,711,A
5,Samara Sharma,NaN,62000.0,NaN,Sales,G3,649,B
6,Joaquin Fleiman,54.0,NaN,F,Operations,G3,53,C
7,Juana Wilkis,54.0,52000.0,F,Finance,G3,901,A
8,Leonardo Doberti,23.0,98000.0,M,Sales,G4,709,A

In [ ]:
empleados = pd.read_csv(url2)

In [ ]:
empleados.performance = empleados.performance.apply(grado_performance)

In [ ]:
empleados

             nombre  edad   sueldo sexo      sector nivel performance
0        Alan Smith  45.0      NaN  NaN  Operations    G3           A
1      Sandro Kumar   NaN  16000.0    F     Finance    G0           B
2    Jacinto Morgan  32.0  35000.0    M     Finance    G2           B
3      Ernesto Chin  45.0  65000.0    F       Sales    G3           B
4    Fernanda Patel  30.0  42000.0    F  Operations    G2           A
5     Samara Sharma   NaN  62000.0  NaN       Sales    G3           B
6   Joaquin Fleiman  54.0      NaN    F  Operations    G3           C
7      Juana Wilkis  54.0  52000.0    F     Finance    G3           A
8  Leonardo Doberti  23.0  98000.0    M       Sales    G4           A

## **Division de las columnas**

In [ ]:
empleados = pd.read_csv(url2)

In [ ]:
empleados["primer_nombre"] = empleados.nombre.str.split(" ").map(lambda var: var[0])

In [ ]:
empleados["ultimo_nombre"] = empleados.nombre.str.split(" ").map(lambda var: var[1])

In [ ]:
empleados

,nombre,edad,sueldo,sexo,sector,nivel,performance,primer_nombre,ultimo_nombre
0,Alan Smith,45.0,NaN,NaN,Operations,G3,723,Alan,Smith
1,Sandro Kumar,NaN,16000.0,F,Finance,G0,520,Sandro,Kumar
2,Jacinto Morgan,32.0,35000.0,M,Finance,G2,674,Jacinto,Morgan
3,Ernesto Chin,45.0,65000.0,F,Sales,G3,556,Ernesto,Chin
4,Fernanda Patel,30.0,42000.0,F,Operations,G2,711,Fernanda,Patel
5,Samara Sharma,NaN,62000.0,NaN,Sales,G3,649,Samara,Sharma
6,Joaquin Fleiman,54.0,NaN,F,Operations,G3,53,Joaquin,Fleiman
7,Juana Wilkis,54.0,52000.0,F,Finance,G3,901,Juana,Wilkis
8,Leonardo Doberti,23.0,98000.0,M,Sales,G4,709,Leonardo,Doberti