<a href="https://colab.research.google.com/github/Marcelooyola/DiplomaturaUDA/blob/main/trabajo_final_mod4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BA/blob/main/dba.png?raw=true)

# **Trabajo Final - Módulo 4 - Introducción a Python y Pandas**

![logo](https://www.python.org/static/community_logos/python-powered-w-100x40.png)

**Nombre:** *Marcelo*

**Apellido:** *Oyola*

# **Aclaraciones previas**



*   En cada celda se indica lo solicitado.
*   Se pueden generar la cantidad de scripts necesarios.
*   Puede explicar insertando celdas de texto.
*   Para graficar se puede utilizar cualquier librería.
*   Al finalizar, descargar el archivo y entregarlo por el campus.
*   Al finalizar se debería borrar esta celda.

# **Activar módulos necesarios**

In [5]:
import pandas as pd
import numpy as np
import requests # necesario para hacer solicitudes a la API

# **Obtener datos**

In [78]:
APIKEYS = ["7C5G34M2E03NDYL3", "P7TV6UJVGDYPDTUR", "TFHNYCWBD71JBSON", "3B3IE0VNJFZBBMRY"] # mis credenciales de ingreso API

BASE_URL = "https://www.alphavantage.co/query"

API_KEY = "7C5G34M2E03NDYL3"

INTERVAL = input("Coloca el numero del intervalo a seleccionar: \n1. 15min \n2. 30min \n3. 60min \n ---- \n")
INTERVAL = intervalo(INTERVAL)

STOCK_FN = "TIME_SERIES_INTRADAY"

##calendario de empresas
stock_symbol = {"google": "GOOG", "microsoft": "MSFT", "amazon": "AMZN"}

Coloca el numero del intervalo a seleccionar:
1. 15min
2. 30min
3. 60min
 ----
3
 ----

EL intervalo de tiempo seleccionado es: 60min

In [69]:
def intervalo(INTERVAL):
  #INTERVAL = input("Coloca el numero del intervalo a seleccionar: \n1. 15min \n2. 30min \n3. 60min \n ---- \n")
  print(" ---- \n")
  if (INTERVAL == "1"):
    INTERVAL = "15min"
  elif (INTERVAL == "2"):
    INTERVAL = "30min"
  elif (INTERVAL == "3"):
    INTERVAL = "60min"
  else :
    INTERVAL = 0


  if(INTERVAL == 0 ):
    print(f"El numero ingresado es incorrecto. Por favor intente nuevamente.")
  else:
    print(f"EL intervalo de tiempo seleccionado es: {INTERVAL}")
    return INTERVAL

In [65]:

def find_data(company):
  end_point = (
      f"{BASE_URL}?function={STOCK_FN}&symbol={stock_symbol.get(company)}&interval={INTERVAL}&apikey={API_KEY}"
  )

  print(f"Obteniendo data desde {end_point}...")
  data = requests.get(end_point).json()
  return data

In [79]:
enterprice = input("Coloca el numero de la empresa a seleccionar: \n1. Google \n2. Microsoft \n3.Amazon \n ---- \n")
print(" ---- \n")
if (enterprice == "1"):
  enterprice = "google"
elif (enterprice == "2"):
  enterprice = "microsoft"
elif (enterprice == "3"):
  enterprice = "amazon"
else :
  enterprice = 0

print(enterprice)

if(enterprice == 0 ):
  print(f"El numero ingresado es incorrecto. Por favor intente nuevamente.")
else:
  datosjson = find_data(enterprice)

Coloca el numero de la empresa a seleccionar:
1. Google
2. Microsoft
3.Amazon
 ----
3
 ----

amazon
Obteniendo data desde https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=AMZN&interval=60min&apikey=7C5G34M2E03NDYL3...

In [28]:
datosjson.keys()

dict_keys(['Meta Data', 'Time Series (30min)'])

In [80]:
datosjson.get("Meta Data")

{'1. Information': 'Intraday (60min) open, high, low, close prices and volume',
 '2. Symbol': 'AMZN',
 '3. Last Refreshed': '2023-08-11 19:00:00',
 '4. Interval': '60min',
 '5. Output Size': 'Compact',
 '6. Time Zone': 'US/Eastern'}

In [81]:
datosjson.get("Time Series (30min)")

# **Crear un DataFrame**

In [82]:
pd.DataFrame(datosjson.get(f"Time Series ({INTERVAL})"))

,2023-08-11 19:00:00,2023-08-11 18:00:00,2023-08-11 17:00:00,2023-08-11 16:00:00,2023-08-11 15:00:00,2023-08-11 14:00:00,2023-08-11 13:00:00,2023-08-11 12:00:00,2023-08-11 11:00:00,2023-08-11 10:00:00,...,2023-08-04 09:00:00,2023-08-04 08:00:00,2023-08-04 07:00:00,2023-08-04 06:00:00,2023-08-04 05:00:00,2023-08-04 04:00:00,2023-08-03 19:00:00,2023-08-03 18:00:00,2023-08-03 17:00:00,2023-08-03 16:00:00
1. open,138.5000,138.5200,138.5600,138.4600,138.6800,138.5500,138.3400,138.5750,138.3250,137.1900,...,141.2500,140.1950,140.2600,140.5000,139.8400,139.9100,141.1200,139.8700,138.0000,128.9100
2. high,138.5800,138.5800,140.3750,138.5900,138.7300,138.8600,138.8100,138.8300,138.6200,139.3300,...,142.0200,141.5900,140.9000,140.7900,140.7000,140.7400,141.3400,142.9700,140.0000,139.2000
3. low,138.0000,138.4500,138.4500,133.9960,138.0500,138.4850,138.1600,138.1300,137.8600,137.1800,...,139.7000,138.5000,139.5800,140.1000,139.6500,138.0000,140.0000,128.9100,133.3870,128.3800
4. close,138.2200,138.5500,138.4600,138.5600,138.4500,138.6800,138.5400,138.3340,138.5800,138.3300,...,140.5800,141.2700,140.1800,140.2200,140.5000,139.8800,140.1700,141.1200,139.8700,138.0000
5. volume,61877,17954,60839,7850226,6104189,3526161,3730053,3918231,4603390,9139315,...,39110412,3315388,1169803,238929,159391,574233,1091083,4063064,4299096,23508956

In [83]:
pd.DataFrame(datosjson.get(f"Time Series ({INTERVAL})")).T

                      1. open   2. high    3. low  4. close 5. volume
2023-08-11 19:00:00  138.5000  138.5800  138.0000  138.2200     61877
2023-08-11 18:00:00  138.5200  138.5800  138.4500  138.5500     17954
2023-08-11 17:00:00  138.5600  140.3750  138.4500  138.4600     60839
2023-08-11 16:00:00  138.4600  138.5900  133.9960  138.5600   7850226
2023-08-11 15:00:00  138.6800  138.7300  138.0500  138.4500   6104189
...                       ...       ...       ...       ...       ...
2023-08-04 04:00:00  139.9100  140.7400  138.0000  139.8800    574233
2023-08-03 19:00:00  141.1200  141.3400  140.0000  140.1700   1091083
2023-08-03 18:00:00  139.8700  142.9700  128.9100  141.1200   4063064
2023-08-03 17:00:00  138.0000  140.0000  133.3870  139.8700   4299096
2023-08-03 16:00:00  128.9100  139.2000  128.3800  138.0000  23508956

[100 rows x 5 columns]

In [26]:
dfstocks = pd.DataFrame(datosjson.get(f"Time Series ({INTERVAL})")).T.rename(
    columns={
        "index" : "fecha",
        "1. open": "open",
        "2. high": "high",
        "3. low": "low",
        "4. close": "close",
        "5. volume": "volume"
    }
)
dfstocks

                         open      high       low     close volume
2023-08-11 19:30:00  321.0100  321.0500  320.1100  320.7500   5254
2023-08-11 19:00:00  321.0500  321.2500  321.0100  321.0100   2702
2023-08-11 18:30:00  321.0500  321.1600  321.0100  321.1600   3837
2023-08-11 18:00:00  321.0500  321.2500  321.0000  321.0500   1981
2023-08-11 17:30:00  321.0500  321.0500  321.0000  321.0100   6331
...                       ...       ...       ...       ...    ...
2023-08-09 04:00:00  327.4000  327.5100  326.1300  327.4100   8786
2023-08-08 19:30:00  325.9500  326.0400  325.6100  325.6600  12925
2023-08-08 19:00:00  325.9600  326.0500  325.8700  325.8800   8068
2023-08-08 18:30:00  326.0000  326.1000  325.8500  325.9600   3005
2023-08-08 18:00:00  325.9000  326.1900  325.8200  326.0000   5520

[100 rows x 5 columns]

## **Visualizaciones del DataFrame**

## **Información del DataFrame y de los datos**

# **Trabajando con el DataFrame**

## **Eliminando datos no disponibles y duplicados**

## **Insertando columnas**

## **Renombrando columnas**

## **Reindexando index**

# **Grabando**

## **Grabar el DataFrame como un archivo CSV**

# **Gráficos**

## **Desarrollar gráficos del DataFrame**